<header>
  <a class="logo" routerLink="/">
    <img src="https://images.vexels.com/media/users/3/127670/isolated/preview/1c400fa105ae69ed69e526f8a4a96a76-flat-flower-plant-tub.png">
  </a>
  <nav>
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Главная</a>
<!--    <a routerLink="/simple" routerLinkActive="active">Simple</a>-->
<!--    <a routerLink="/about" routerLinkActive="active">About</a>-->
    <a routerLink="/profile" routerLinkActive="active">Личный кабинет</a>
    <a routerLink="/addplant" routerLinkActive="active">Добавить свое растение</a>
    <a routerLink="/ajax" routerLinkActive="active">Ajax</a>
  </nav>
</header>
