<div class="container">
  <div class="grid product">
    <div class="column-xs-12 column-md-7">
      <h1>Plant</h1>
      <div class="product-gallery">
        <div class="product-image">
          <img class="active" src="https://img.freepik.com/free-vector/organic-flat-houseplant-collection_23-2148915162.jpg?w=2000" alt="no photo">
        </div>
        <ul class="image-list">
          <li class="image-item"><img style="background-color: #777;"></li>
          <li class="image-item"><img style="background-color: #777;"></li>
          <li class="image-item"><img style="background-color: #777;"></li>
        </ul>
      </div>
    </div>
    <div class="column-xs-12 column-md-5">
      <div class="description">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid assumenda dolore dolores doloribus neque nostrum quis sed temporibus voluptas.</p>
        <p>Watering: </p>
        <p>Sunlight: </p>
        <p>Temperature: </p>
      </div>
    </div>
  </div>
</div>
