<h1>Add Plant Page</h1>
<div class="container">
  <form #plantsForm="ngForm" (ngSubmit)="onPlantCreate(plantsForm.value)">
    <input type="text" placeholder="Название" name="name"  ngModel required>
    <input type="text" placeholder="Описание" name="description"  ngModel  >
    <input type="text" placeholder="Изображение" name="images" ngModel>
    <input type="text" placeholder="Категория" name="category" ngModel required >
    <input type="text" placeholder="Солнце" name="sunlight" ngModel>
    <input type="text" placeholder="Полив" name="wetering" ngModel>
    <input type="text" placeholder="Температура" name="temperature" ngModel>
    <input class="btn" type="submit" value="Добавить растение"/>
  </form>
</div>

